include variables.pug
mixin picture(desktopImg, tabletImg, mobileImg, altText, className)
  picture
    source(media=desktop, type='image/webp', srcset=('img/' + desktopImg + '.webp 1x, ' + 'img/' + desktopImage + '@2x.webp 2x'))
    source(media=tablet, type='image/webp', srcset=('img/' + tabletImg + '.webp 1x, ' + 'img/' + tabletImage + '@2x.webp 2x'))
    source(type='image/webp', srcset=('img/' + mobileImg + '.webp 1x, ' + 'img/' + mobileImage + '@2x.webp 2x'))
    source(media=desktop, srcset=('img/' + desktopImg + '.jpg 1x, ' + 'img/' + desktopImage + '@2x.jpg 2x'))
    source(media=tablet, srcset=('img/' + tabletImg + '.jpg 1x, ' + 'img/' + tabletImage + '@2x.jpg 2x'))
    img.yall-loaded(class=className, src=('img/' + mobileImg + '.jpg'), srcset=('img/' + mobileImage + '@2x.jpg 2x'), alt=altText)
